



  <% if user_signed_in? %>
    <% if current_user.admin != true %>
    <h1>Welcome back, <%= current_user.email %>!</h1>
    <%= render 'shared/review_form', places: @places %>
    <% else %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-bar-block w3-light-grey" style="width:15%">
  <div class="w3-container w3-dark-grey">
   <h4><%= current_user.name %></h4>
  </div>
   <div class="avt-rounded">
                <%= image_tag (current_user.avatar.url) if current_user.avatar %>
    </div>

  <%= link_to "Add new place", new_place_path %> <br/>

  <!--<div class="w3-panel w3-blue-grey w3-display-container">-->
  <!--  <span onclick="this.parentElement.style.display='none'" class="w3-button w3-blue-grey w3-display-topright">&times;</span>-->
  <!--  <p>Lorem ipsum box...</p>-->
  <!--</div>-->

</div>

<div style="margin-left:15%">

<div class="w3-container">
   <div class="row">

      <div class="col-lg-6">
        <div class="list-border">
        <h1> Users list </h1> <br/>
         <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>

            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Email</h3>
            </div>
          </div>
        <% @users.each do |f| %>
          <% if f.admin != true %>
          <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
            <div class="col-lg-1">
              <div class="avt-navbar">
                <%= image_tag f.avatar.url if f.avatar %>
              </div>
            </div>
            <div class="col-lg-3">
            <%= link_to f.name, f %>
            </div>
            <div class="col-lg-7">
              <%= f.email %>
            </div>
            <br/>
          </div>
          <% end %>
        <% end %>

        <%= link_to "See all users", users_path %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="list-border">
      <h1> Places list </h1> <br/>
       <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>

            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Thumbnail</h3>
            </div>
        </div>
      <% @places.each do |f| %>
       <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
                        <div class="col-lg-4">
            <%= link_to f.name, f %>
            </div>
        <div class="col-lg-7">
              <div class="thumbnail">
                <%= image_tag f.overview.thumb.url if f.overview %>
              </div>
            </div>
        </div>
      <% end %>

      <%= link_to "See all places", places_path %> <br/>
      </div>
      </div>
    </div>
</div>



    <% end %>
  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">

    </p>

  <% end %>
