<div class="comment-area" id="comment-card-<%= comment.id %>">
  <div class="row">

    <div class="comment col-lg-2">
       <div class="row">
         <div class="col-lg-3">
           <div class="avt-navbar">
            <% if comment.user.avatar_facebook? %>
                 <%= image_tag (comment.user.avatar_facebook)%>
                <% else %>
                  <%= image_tag (comment.user.avatar.url) if comment.user.avatar %>
                <% end %>
           </div>
         </div>

        <div class="comment col-lg-9">
      <strong><%= link_to truncate(comment.user.name, :length => 10), comment.user %>:</strong>
      </div>
      </div>
        <div class="comment-time" style="float: left;font-size: 13px;">
     <i><%= time_ago_in_words(comment.created_at) %> ago</i>
    </div>
    </div>
    <div class="comment col-lg-10">
    <%= comment.content %>
    </div>
    
    <div class="like-area" style="margin-left:5px" >
      <% if current_user %>
        <% if current_user.voted_for? comment %>
          <%= link_to "Unlike", unlike_comment_path(comment), class: 'vote-comment', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_review_path(comment), id: comment.id} %>
        <% else %>
          <%= link_to "Like", like_comment_path(comment), class: 'vote-comment', method: :put, remote: true, data: { toggle_text: 'Unlike', toggle_href: unlike_comment_path(comment), id: comment.id} %>
        <% end %>
      <% end %>
      <span>
        |
        <span class="votes-count-comment" data-id="<%= comment.id %>">
          <%= comment.get_upvotes.size %>
        </span>
        users like this!
      </span>
    </div>
    <div class="comment-actions">
    <% if user_signed_in? %>
    <% if(current_user.id == comment.user_id) %>
    <%= link_to 'Delete', comment,
                 method: :delete,
                 data: { confirm: 'Are you sure?' },
                 remote: true %>
    <%= link_to 'Edit', edit_comment_path(comment), remote: true %>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

<style>
  .comment-card {
    margin-bottom: 5px;
  }
  .like-area {
    margin-left: 5px;
  }
  .comment-time {
    margin-top: 8px;
  }
</style>
