<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
      margin-top: 16px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  .adm-index-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  .button-add-place {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
</head>
<body>



  <!--<button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>-->


  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left admin-sidebar" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">
    <div class="avt-rounded">
    <%= image_tag (current_user.avatar.url) if current_user.avatar %>
    </div>
    </a>
  <a href="#" class="w3-bar-item w3-button"><b><center><%= current_user.name %></center></b></a>
  <center><button class="button-add-place"><%= link_to "Add new place", new_place_path %></button></center>
  </div>





<div id= main>

<div class="tab">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <button class="tablinks" onclick="openCity(event, 'UsersList')">Users List</button>
  <button class="tablinks" onclick="openCity(event, 'PlacesList')">Places List</button>
  <button class="tablinks" onclick="openCity(event, 'ReviewsList')">Reviews List</button>
</div>

<div id="UsersList" class="tabcontent">
             <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>
            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Email</h3>
            </div>
          </div>
        <% @users.each do |f| %>
          <% if f.admin != true %>
          <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
            <div class="col-lg-1">
              <div class="avt-navbar">
                <%= image_tag f.avatar.url if f.avatar %>
              </div>
            </div>
            <div class="col-lg-3">
            <%= link_to f.name, f %>
            </div>
            <div class="col-lg-7">
              <%= f.email %>
            </div>
            <br/>
                        <br/>
          </div>
          <% end %>
        <% end %>
  <%= link_to "See all users", users_path, class: "adm-index-button" %>
</div>
<div id="PlacesList" class="tabcontent">
       <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>

            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Thumbnail</h3>
            </div>
        </div>

      <% @places.each do |f| %>
       <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
            <div class="col-lg-4">
            <%= link_to f.name, f %>
            </div>
        <div class="col-lg-7">
              <div class="thumbnail">
                <%= image_tag f.place_photos.first.photo if f.place_photos.exists? %>
              </div>
            </div>
        </div>
      <% end %>

      <%= link_to "See all places", places_path, class: "adm-index-button" %> <br/>
</div>
<div id="ReviewsList" class="tabcontent">
  <div class="row">
    <div class="col-lg-1">
      <h3>ID</h3>
    </div>
    <div class="col-lg-2">
      <h3>User</h3>
    </div>
    <div class="col-lg-2">
      <h3>Place</h3>
    </div>
    <div class="col-lg-4">
      <h3>Content</h3>
    </div>
    <div class="col-lg-1">
      <h3>Like's number</h3>
    </div>
    <div class="col-lg-1">
      <h3>Comment's number</h3>
    </div>
  </div>

  <% @reviews.each do |f| %>
    <div class="row">
      <div class="col-lg-1">
        <h3><%= f.id %></h3>
      </div>
      <div class="col-lg-2">
        <h3><%= link_to f.user.name, f.user %></h3>
      </div>
      <div class="col-lg-2">
        <h3><%= link_to f.place.name, f.place%></h3>
      </div>
      <div class="col-lg-4">
       <h3><%= f.content %></h3>
      </div>
      <div class="col-lg-1">
       <h3><%= f.get_upvotes.size %></h3>
      </div>
      <div class="col-lg-1">
        <h3><%= f.comments.count %></h3>
      </div>
    </div>
  <% end %>
  <%= link_to "See all reviews", reviews_path, class: "adm-index-button" %>
</div>
</div>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

function w3_open() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("mySidebar").style.width = "15%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}

</script>
</div>
</body>
</html>
