<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <div class="container">
        <div class="row">

        <div class="col-lg-6">
          <div class="list-border">
            <h1> Users list </h1> <br/>
             <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>
            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Email</h3>
            </div>
          </div>
          
        <% @users.each do |f| %>
          <% if f.admin != true %>
          <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
            <div class="col-lg-1">
              <div class="avt-navbar">
                <%= image_tag f.avatar.url if f.avatar %>
              </div>
            </div>
            <div class="col-lg-3">
            <%= link_to f.name, f %>
            </div>
            <div class="col-lg-7">
              <%= f.email %>
            </div>
            <br/>
                        <br/>
          </div>
          <% end %>
        <% end %>

        <button class="adm-index-button"><%= link_to "See all users", users_path %></button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="list-border">
      <h1> Places list </h1> <br/>
       <div class="row">
            <div class="col-lg-1">
              <h3>ID</h3>
            </div>

            <div class="col-lg-4">
            <h3>Name</h3>
            </div>
            <div class="col-lg-7">
              <h3>Thumbnail</h3>
            </div>
        </div>
        
      <% @places.each do |f| %>
       <div class="row">
            <div class="col-lg-1">
              <%= f.id %>
            </div>
                        <div class="col-lg-4">
            <%= link_to f.name, f %>
            </div>
        <div class="col-lg-7">
              <div class="thumbnail">
                <%= image_tag f.overview.thumb.url if f.overview %>
              </div>
            </div>
        </div>
      <% end %>

      <button class="adm-index-button"><%= link_to "See all places", places_path %></button> <br/>
      </div>
      </div>
    
</div>

<style>
  .adm-index-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>