<div class="container">
<h1>Users list</h1> <br/>

<% if @users.count == 0 %>

	<h1>There are no users currently</h1>

<% else %>	

	<div class="row">

		<% @users.each do |f| %>
      
			<div class="col-md-3">
			  <a href="/users/<%= f.id %>">
			    <div class="card">
			    
				    <div class ="avt-rounded" >
 						<% if f.avatar_facebook? %>
                 			<%= image_tag (f.avatar_facebook)%>
                		<% else %>
                  			<%= image_tag (f.avatar.url) if f.avatar %>
                		<% end %>				    	
                		</div>
				      <div class="user-container">
				        <h4><b><%= f.name %></b></h4>
				        <p><%= f.email %></p>
				      </div>
				      
			    </div>
			   </a>
			   <br/>
      		</div>
		<% end %>

	</div>
	<div>
		<%= will_paginate @places %>
	</div>
<% end %>	
</div>