<div class="container">
<div class="profile-border">
    <div class="row">
        <div class = "col-lg-4">
            <div class="avt-rounded">
                 <% if @user.avatar_facebook? %>
                 <%= image_tag (@user.avatar_facebook)%>
                <% else %>
                  <%= image_tag (@user.avatar.url) if @user.avatar %>
                <% end %>
            </div>
        </div>
        <div class = "col-lg-8">
            <div class="profile-details">
                <div class="row">
                    <div class = "col-lg-6">
                        Name : <%= @user.name %>
                    </div>
                    <div class = "col-lg-6">
                        Phone : <%= @user.phone %>
                    </div>

                </div>
                <div class="row">
                    </br>
                </div>
                <div class="row">
                    <div class = "col-lg-6">
                        Email : <%= @user.email %>
                    </div>
                    <div class = "col-lg-6">
                        Gender :
                        <% if @user.gender == true %> Male
                        <% elsif @user.gender == false %> Female
                        <% end %>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <%= render 'follow_form' if user_signed_in? && @user.admin != true %>
                    </div>
                    <div class="col-lg-6">
                        <%= render 'shared/stats' if @user.admin != true %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if @user.admin != true %>
    <div class="row">
        </br>
    </div>
    <div>
      <h1>  User's reviews (<%= @user.reviews.count %>)</h1>

            <% if @user.reviews.any? %>
                    <%= render @reviews %>
                <%= will_paginate @reviews %>
            <% end %>

    </div>
    <% end %>
</div>
</div>
