<div class="border-form-div large-form">

<%= form_for(@review) do |f| %>
  <div class="field">
    <%= f.label :tag_list, "Tags" %><br />
    <%= f.text_field :tag_list,  value: f.object.tag_list.to_s %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id, value: @place.id %>
  </div>
  <div>
  <div class="rating-form" style="float: left;" >
    <%= f.label :rate, " Rating:" %><%= f.hidden_field :rate %>
  </div>
  <div id="hint" style="float: right"></div>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>

<script>
    $('.rating-form').raty({


      path: '/assets/',
      target : '#hint',
      scoreName: 'review[rate]'

    });
</script>
