<div class="border-form-div">
 
<%= form_for(@review) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id, value: @place.id %>
  </div>
  <div class="rating-form">
    <%= f.hidden_field :rate %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>

<script>
    $('.rating-form').raty({

      
      path: '/assets/',
      scoreName: 'review[rate]'
        
    });
</script>