<%= form_for(@review) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write new review..." %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id, value: @place.id %>
  </div>
  <div class="field">
    <%= f.select :rate, options_for_select(1..5) %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
