<div class="card">
  <div class="media">
    <div class="media-left media-top">
      <div class="avt-rounded">
        <%= image_tag (review.user.avatar.url) if review.user.avatar %>
      </div>
    </div>
    <div class="media-body">
        <div class = "media-header">
          <span style="left: 0; max-width: 50%; height: auto">
          <h4 style="text-align: left"><%= link_to review.user.name, review.user %></h4>
          </span>
          <span >
            <span class="review-rating" style="right: 0; text-align: right; max-width: 50%" data-score=<%=review.rate %> ></span>
          </span>
        </div>
        <div class="media-left">
          <span class="content-box" style="align:left"><%= review.content %></span>
        </div>
    </div>
  </div>
  <div class="fixed-bottom review-footer"> 
    <p>On <%= link_to review.place.name, review.place %> <%= time_ago_in_words(review.created_at) %> ago</p>
  </div>
</div>
<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'
        
    });
</script>