<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
<div class="card">

   
  
 
  
  <%= link_to review.user.name, review.user %> has reviewed <%= link_to review.place.name, review.place %> <%= time_ago_in_words(review.created_at) %> ago.<br/>
   Rate: <div class="review-rating" data-score="<%=review.rate %>"></div>
   Content:<span class="content"><%= review.content %></span><BR>
   Tag:   <div><%= render review.tags %></div>  


</div>
</div>
</div>
<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'
        
    });
</script>