<div class="card">
  <div class="media">
    <div class="media-left media-top">
      <div class="avt-rounded">
        <%= image_tag (review.user.avatar.url) if review.user.avatar %>
      </div>
    </div>
    <div class="media-body">
        <div class = "media-header">
          <div class = "row">
          <div class = "col-lg-9">
          <span style="left: 0; max-width: 50%; height: auto; position: relative;">
          <h4 style="text-align: left"><%= link_to review.user.name, review.user %></h4>
          </span>
          </div>
          <div class = "col-lg-3">
            <div class="review-rating" data-score=<%=review.rate %> ></div>
            </div>
          </div>
        </div>
        <div class="media-left" style="width: 100%">
          <span class="content-box"><%= review.content %></span>
          <div class="content-box" style="text-align: left; bottom: 0px">
            Tags:   <span><%= render review.tags %></span>
          </div>
        </div>
        <div>
          <% if current_user %>
            <% if current_user.voted_for? review %>
              <%= link_to unlike_review_path(review), method: :put do %>
                Unlike
                <%= review.get_upvotes.size %>
              <% end %>
            <% else %>
              <%= link_to like_review_path(review), method: :put do %>
                Like
                <%= review.get_upvotes.size %>
              <% end %>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
  <div class="fixed-bottom review-footer">
    <p>On <%= link_to review.place.name, review.place %> <%= time_ago_in_words(review.created_at) %> ago</p>
    <h2>Comment</h2>
<%= form_for Comment.new do |f| %>
<div class= "field">
<%= f.label :content %><br>
<%= f.text_field :content %>
<%= f.hidden_field :review_id, :value => review.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
</div>
<div class="actions">
<%= f.submit %>
</div>
<% end %>
<h2>Comment List</h2>
<%= render review.comments %>
  </div>
</div>
<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
