<div class="card" style="background-color: #f5f5f5" id="review-list-<%= review.id %>">
  <div class="media">
    <div class="media-left media-top">
      <div class="size-100">
        <%= image_tag (review.user.avatar.url) if review.user.avatar %>
      </div>
    </div>
    <div class="media-body">
        <div class = "media-header">
          <div class = "row">
          <div class = "col-lg-9">
          <span style="left: 0; max-width: 50%; height: auto; position: relative;">
          <h4 style="text-align: left"><%= link_to review.user.name, review.user, :style=>"font-size: 24px;" %></h4>
          </span>
          </div>
          <div class = "col-lg-3">
            <div class="review-rating" data-score=<%=review.rate %> ></div>
            </div>
          </div>
        </div>
        <div class="media-left" style="width: 100%">
          <div class="content-box" id="ajax-content-<%= review.id %>">
            <%= review.content %>
          </div>
          <div class="content-box" style="text-align: left; bottom: 0px">
            Tags:   <span><%= render review.tags %></span>
          </div>
        </div>
    </div>
    <div class="like-area">
      <% if current_user %>
        <% if current_user.voted_for? review %>
          <%= link_to "Unlike", unlike_review_path(review), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_review_path(review), id: review.id} %>
        <% else %>
          <%= link_to "Like", like_review_path(review), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Unlike', toggle_href: unlike_review_path(review), id: review.id} %>
        <% end %>
      <% end %>
      <span> 
        | 
        <span class="votes-count" data-id="<%= review.id %>">
          <%= review.get_upvotes.size %>
        </span>
        users like this!
      </span>
    </div>
  </div>
  
  <div class="fixed-bottom review-footer">
    <span style="float: left">On <%= link_to review.place.name, review.place %> <%= time_ago_in_words(review.created_at) %> ago</span>
    <% if user_signed_in? %>
    <% if current_user.id == review.user_id %>
    <span style="float: right"><a class="link" data-toggle="modal" data-target="#myModal">Edit your review</a>
     | <%= link_to "Delete", review_path(review.id), :method => :delete, data: { confirm: 'Are you sure?' }%></span>
    <% end %>
    <% end %>
  </div>
  <br/>
 <div style="width:100%; min-height:30px">
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= u url_for([review, {only_path: false}]) %>&layout=button&size=large&mobile_iframe=false&width=83&height=28&appId" width="83" height="28" style="border:none;overflow:hidden;float:right" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
    <h2 id="comment-count-<%= review.id %>">Comment (<%= review.comments.count %>)</h2>
    <% if user_signed_in? %>
    <div id="comment-form-ajax-<%= review.id %>">
      <%= render 'comments/form', :@comment => Comment.new, :review => review %>
    </div>
    
    <% else %>
    <h4>You need to sign in to comment</h4>
    <% end %>
   
    <center><a id="show-comments-<%= review.id%>">Show all comments</a></center>
     <div id="review-comments-<%= review.id%>" style="display: none">
      <div id="comment-list-ajax-<%= review.id %>">
        <%= render review.comments.order(:created_at).reverse_order %>
      </div>
    </div>
    
</div>
<script>
$(document).ready(function(){
    
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
    $("#show-comments-<%= review.id%>").click(function(){
        $("#review-comments-<%= review.id%>").toggle();
        if($(this).text()=="Show all comments")
          $(this).text("Hide all comments");
        else  $(this).text("Show all comments");
    });
    
    // Configure/customize these variables.
    var showChar = 270;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('#ajax-content-<%= review.id %>').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>