<div class="card" id="review-list-<%= review.id %>">
  <div class="media">
    <div class="media-left media-top">
      <div class="size-100">
        <%= image_tag (review.user.avatar.url) if review.user.avatar %>
      </div>
    </div>
    <div class="media-body">
        <div class = "media-header">
          <div class = "row">
          <div class = "col-lg-9">
          <span style="left: 0; max-width: 50%; height: auto; position: relative;">
          <h4 style="text-align: left"><%= link_to review.user.name, review.user %></h4>
          </span>
          </div>
          <div class = "col-lg-3">
            <div class="review-rating" data-score=<%=review.rate %> ></div>
            </div>
          </div>
        </div>
        <div class="media-left" style="width: 100%">
          <span class="content-box"><%= review.content %></span>
          <div class="content-box" style="text-align: left; bottom: 0px">
            Tags:   <span><%= render review.tags %></span>
          </div>
        </div>
    </div>
    <div class="like-area">
      <% if current_user %>
        <% if current_user.voted_for? review %>
          <%= link_to "Unlike", unlike_review_path(review), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Like', toggle_href: like_review_path(review), id: review.id} %>
        <% else %>
          <%= link_to "Like", like_review_path(review), class: 'vote', method: :put, remote: true, data: { toggle_text: 'Unlike', toggle_href: unlike_review_path(review), id: review.id} %>
        <% end %>
      <% end %>
      <span> 
        | 
        <span class="votes-count" data-id="<%= review.id %>">
          <%= review.get_upvotes.size %>
        </span>
        users like this!
      </span>
    </div>
  </div>
  <div class="fixed-bottom review-footer">
    <span style="float: left">On <%= link_to review.place.name, review.place %> <%= time_ago_in_words(review.created_at) %> ago</span>
    <% if user_signed_in? %>
    <% if current_user.id == review.user_id %>
    <span style="float: right"><a class="link" data-toggle="modal" data-target="#myModal">Edit your review</a>
     | <%= link_to "Delete", review_path(review.id), :method => :delete, data: { confirm: 'Are you sure?' }%></span>
    <% end %>
    <% end %>
  </div>
  <br/>
    <h2 id="comment-count-<%= review.id %>">Comment (<%= review.comments.count %>)</h2>
    <% if user_signed_in? %>
    <div id="comment-form-ajax-<%= review.id %>">
      <%= render 'comments/form', :@comment => Comment.new, :review => review %>
    </div>
    <% else %>
    <h4>You need to sign in to comment</h4>
    <% end %>
  <div id="comment-list-ajax-<%= review.id %>">
    <%= render review.comments.order(:created_at).reverse_order %>
  </div>
</div>

<br/>

<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
