<div class="border-form-div">
<h1>Edit place</h1>

<%= form_for @place, html: { multipart: true } do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :required => true %>
  </div>

  <div class="place-image">
    <% @place_existed_photos.each do |p| %>
      <%= image_tag p.photo_url %>
      <%= link_to "Edit Photo", edit_place_photo_path(p) %>
      <%= link_to "Destroy", place_photo_path(p), method: :delete%>
    <% end %>
  </div>
  <%= f.fields_for :place_photo do |p| %>
    <div class="field">
      <%= p.label :add_photo %><br>
      <%= p.file_field :photo, :multiple => true, name: "place_photos[photo][]" %>
    </div>
  <% end %>
  <br/>
  <div class="actions">
    <%= f.submit "Edit place", :class =>"btn btn-primary"%>
    <%= link_to "Back", @place, :class => "btn btn-info" %>
  </div>
<% end %>
</div>
