<div class="container">
<h1>All places</h1>

<% if @places.count == 0 %>

	<h1>There are no places currently</h1>

<% else %>

	<div class="row">
		<% a=@places.sort_by{ |f| [f.point/((f.reviews.count.round(1)==0)? 1 : (f.reviews.count.round(1)).round(1))] }.reverse %>
		<% a.each do |f| %>

			<div class="col-md-3">
			  <a class="place-link" href="/places/<%= f.id %>">
			    <div class="card">
				    <div class ="image-size" ><%= image_tag f.overview.thumb.url if f.overview %></div>
				      <div class="place-container">
				        <h4><b><%= f.name %></b></h4>
				        <p><%= f.address %></p>
				        <% if f.reviews.count != 0 %>
				         <div class="review-rating" data-score=<%= (f.point/f.reviews.count.round(1)).round(1) %> ></div>
				          <p><%= (f.point/f.reviews.count.round(1)).round(1) %></p>
				        <% else %>
				           <div class="review-rating" data-score="0"></div>
				          <p>0</p>
				        <% end %>
				      </div>
			    </div>
			   </a>
     	   </div>
		<% end %>

	</div>
	<div>
		<%= will_paginate @places %>
	</div>
<% end %>
</div>
<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
