<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<div class="container">
<div class="profile-border">
  <!--<div class="list-border">-->

 <div class="place-name">
 <h1><%= @place.name %></h1>
 </div>
<div class="place-address">
<!--</div>-->
<i class="fa fa-map-marker" aria-hidden="true"></i>
  <%= @place.address %>
  </div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
 <!--<div class="list-border">-->
<p>
  <!--<strong>Image:</strong>-->
  <br/>
   <% if !@place_photos.empty? %>
   <div class="place-image">
  	 <div class="w3-content w3-display-container">
	    <% @place_photos.each do |p| %>
	      <%= image_tag p.photo_url, :class => "image-slide" %>
	    <% end %>
	     <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	  	 <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
     </div>
    
   </div>
  <% end %>
</p>
<!--</div>-->
</div>
</div>
<% if user_signed_in? %>
<% if current_user.admin %>
<%= link_to "Edit this place!", edit_place_url, class: "btn btn-info", style:"margin-top: 30px;" %>
<% end %>
<% end %>
<div class="place-overview">
          <% if @place.reviews.count != 0 %>
               <h1>Overview</h1>

               <div class="row">
                   <div class="col-lg-2">
				       </div>
                 <div class="col-lg-1 avg-rating">
  				       <strong> <%= (@place.point/@place.reviews.count.round(1)).round(1) %></strong>
  				          <br/>
  				       </div>
                 <div class="col-lg-2">

				           <div class="review-rating size-24" data-score=<%= (@place.point/@place.reviews.count.round(1)).round(1) %> ></div>
				       </div>
  				       <div class="col-lg-5 reviews-count">
  				        <%= @place.reviews.count %> reviews
  				          <br/>
  				       </div>
				       </div>
				          <div class="row">
				            <% s5=(((@place.reviews.select{ |hash| hash[:rate] == 5 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Gorgeous:</span>
				            </div>
				            <div class="col-lg-6">

				               <span class="bar">
				                 <span class="fill" style="width:<%= s5 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s5 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s4=(((@place.reviews.select{ |hash| hash[:rate] == 4 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Good:</span>
				            </div>
				            <div class="col-lg-6">

				               <span class="bar">
				                 <span class="fill" style="width:<%= s4 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s4 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s3=(((@place.reviews.select{ |hash| hash[:rate] == 3 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Regular:</span>
				            </div>
				            <div class="col-lg-6">

				               <span class="bar">
				                 <span class="fill" style="width:<%= s3 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s3 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s2=(((@place.reviews.select{ |hash| hash[:rate] == 2 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Poor:</span>
				            </div>
				            <div class="col-lg-6">

				               <span class="bar">
				                 <span class="fill" style="width:<%= s2 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s2 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s1=(((@place.reviews.select{ |hash| hash[:rate] == 1 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Bad:</span>
				            </div>
				            <div class="col-lg-6">

				               <span class="bar">
				                 <span class="fill" style="width:<%= s1 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s1 %>%</span>
				            </div>
				          </div>
				  <% end %>
				  <br/>
</div>
    <h1>Reviews(<%= @place.reviews.count %>)</h1>
    <% if user_signed_in? %>
		<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>
    	<% else %>
    	<div>
     		<button type="button" class="write-btn" data-toggle="modal" data-target="#myModal">Write your review</button>
     		<br/>
     	</div>
     	<% end %>

		<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>

      	<h2>Your review</h2>
      	<div class="row">
        	<div class = "col-md-12">
          		<%= render @review %>
        	</div>
      	</div>
      	<h2>  Others' review </h2>
		<% end %>
	<% else %>
		<h4 style="text-align: center">You need to sign in to write a review</h4>
	<% end %>
  <div>
            <% if @place.reviews.any? %>
            <div class="row">
              <div class = "col-md-12" id="review-list">
              	<%= render @reviews %>
              </div>
            <% end %>
            </div>
            <div id="will-paginate-ajax">
            	<%= js_will_paginate @reviews %>
            </div>
    </div>

</div>

<% if user_signed_in? %>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" color="red">&times;</button>
        <h4 class="modal-title">Review this place</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/review_form' %>
      </div>
    </div>

  </div>
</div>
<% end %>
</div>

<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
    var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
  		showDivs(slideIndex += n);
	}

	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("image-slide");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}
</script>
