<div class="container">
<div class="profile-border">
<div class="list-border">

  <h1><%= @place.name %></h1>
</p>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
 <div class="list-border">
<p>
  <strong>Image:</strong>
  <br/>
  <div class="place-image">
  <%= image_tag @place.overview.thumb.url if @place.overview %>
  </div>
</p>
</div>
</div>
</div>

<div class="list-border">

  <strong>Address:</strong>
  <%= @place.address %>

</div>
<% if current_user.admin %>
<%= link_to "Edit this place!", edit_place_url, class: "btn btn-info" %>
<% end %>
          <% if @place.reviews.count != 0 %>
              <h2> Average rating:
				         <div class="review-rating" data-score=<%= (@place.point/@place.reviews.count.round(1)).round(1) %> ></div>
				          <%= (@place.point/@place.reviews.count.round(1)).round(1) %>
				          <br/>
				      </h2>
				  <% end %>
				  <br/>
<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>
    <% else %>
     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Write your review</button>
     <!-- Modal -->
     <% end %>

<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>
      
      <h1>Your review</h1>
      <div class="row">
        <div class = "col-md-12">
          <%= render @review %>
        </div>
      </div>
      <h1>  Others' review </h1>

<% end %>
  <div>
            <% if @place.reviews.any? %>
            <div class="row">
              <div class = "col-md-12">
                    <%= render @reviews %>
                <%= will_paginate @reviews %>
                </div>
            <% end %>
            </div>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" color="red">&times;</button>
        <h4 class="modal-title">Review this place</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/review_form' %>
      </div>
    </div>

  </div>
</div>
</div>

<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
