<div class="container">
<div class="profile-border">
  <!--<div class="list-border">-->

 <div class="place-name">
 <h1><%= @place.name %></h1>
 </div>
<div class="place-address">
<!--</div>-->
<i class="fa fa-map-marker" aria-hidden="true"></i>
  <%= @place.address %>
  </div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
 <!--<div class="list-border">-->
<p>
  <!--<strong>Image:</strong>-->
  <br/>
  <div class="place-image">
  <%= image_tag @place.overview.thumb.url if @place.overview %>
  </div>
</p>
<!--</div>-->
</div>
</div>


  


<% if current_user.admin %>
<%= link_to "Edit this place!", edit_place_url, class: "btn btn-info" %>
<% end %>
<div class="place-overview">
          <% if @place.reviews.count != 0 %>
               <h1>Overview</h1>
               
               <div class="row">
                   <div class="col-lg-2">
                 
				          
				         
				       </div>
                 <div class="col-lg-1 avg-rating">
  				       <strong> <%= (@place.point/@place.reviews.count.round(1)).round(1) %></strong>
  				          <br/>
  				       </div> 
                 <div class="col-lg-2">
                 
				           <div class="review-rating size-24" data-score=<%= (@place.point/@place.reviews.count.round(1)).round(1) %> ></div>
				         
				       </div>
				      
  				       
  				       <div class="col-lg-5 reviews-count">
  				        <%= @place.reviews.count %> reviews
  				          <br/>
  				       </div> 

				       </div>
				          <div class="row">
				            <% s5=(((@place.reviews.select{ |hash| hash[:rate] == 5 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Gorgeous:</span>
				            </div>
				            <div class="col-lg-6">
				             
				               <span class="bar">
				                 <span class="fill" style="width:<%= s5 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s5 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s4=(((@place.reviews.select{ |hash| hash[:rate] == 4 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Good:</span>
				            </div>
				            <div class="col-lg-6">
				             
				               <span class="bar">
				                 <span class="fill" style="width:<%= s4 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s4 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s3=(((@place.reviews.select{ |hash| hash[:rate] == 3 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Average:</span>
				            </div>
				            <div class="col-lg-6">
				             
				               <span class="bar">
				                 <span class="fill" style="width:<%= s3 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s3 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s2=(((@place.reviews.select{ |hash| hash[:rate] == 2 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Poor:</span>
				            </div>
				            <div class="col-lg-6">
				             
				               <span class="bar">
				                 <span class="fill" style="width:<%= s2 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s2 %>%</span>
				            </div>
				          </div>
				          <div class="row">
				            <% s1=(((@place.reviews.select{ |hash| hash[:rate] == 1 }.count)/(@place.reviews.count.round(2)).round(2))*100).round(1) %>
				            <div class="col-lg-2"></div>
				            <div class="col-lg-1">
				                <span class="row-label">Abysmal:</span>
				            </div>
				            <div class="col-lg-6">
				             
				               <span class="bar">
				                 <span class="fill" style="width:<%= s1 %>%;"></span>
				               </span>
				            </div>
				            <div class="col-lg-1">
				              <span class="row-label"><%= s1 %>%</span>
				            </div>
				          </div>
				  <% end %>
				  <br/>
</div>
    <h1>Reviews(<%= @place.reviews.count %>)</h1>
<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>
    <% else %>
     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Write your review</button>
     <!-- Modal -->
     <% end %>

<% if Review.where(user_id: current_user.id, place_id: @place.id).exists? %>
      
      <h2>Your review</h2>
      <div class="row">
        <div class = "col-md-12">
          <%= render @review %>
        </div>
      </div>
      <h2>  Others' review </h2>

<% end %>
  <div>
            <% if @place.reviews.any? %>
            <div class="row">
              <div class = "col-md-12">
                    <%= render @reviews %>
                <%= will_paginate @reviews %>
                </div>
            <% end %>
            </div>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" color="red">&times;</button>
        <h4 class="modal-title">Review this place</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/review_form' %>
      </div>
    </div>

  </div>
</div>
</div>

<script>
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
          return $(this).attr('data-score');
      },
      precision  : true,
      path: '/assets/'

    });
</script>
