<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown pull-right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"> 
          <div class="row">
            <div class="col-lg-3">
              <div class="avt-navbar">
                <%= image_tag current_user.avatar.url if current_user.avatar %> 
              </div> 
            </div>
            <div class="col-lg-9">
              <%= current_user.email %><b class="caret"></b>
            </div>
            
          </div>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', :profile %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path %></li>
           
            <li class="divider"></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
          </ul>
        </li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
         <li> <%= link_to 'Sign in', new_user_session_path  %> </li>
         <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
      </ul
      <% end %>
      
    </nav>
  </div>
</header>
